* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: #060417;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

.container {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  z-index: 999;
  transform-origin: 0%;
}

@media (max-width: 600px) {
  .progress-bar {
    display: none;
  }
}
