* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: #060417;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

.container {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}
